.access {
  margin-top: 180px;
  /*padding: 5px;*/
}

@media (max-width: 480px) {
  .access{
    margin-top: 0;
  }
  .shadow-z-2{
    box-shadow: none;
  }
}

.pages {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 4;
    padding: 0px;
    overflow: auto;
}
