<!DOCTYPE html>
<html>
  <head>
  <% include head %>
  <body>
    <div class="header-panel"style="background-color: #009587;
      height: 144px; position: relative;"></div>
      <div class="container-fluid main">
        <div class="row">
          <div class="pages col-lg-9" style="z-index:4;position:absolute;height: 100%;">
            <div class="col-lg-8 well" style="height: 97%; margin: 1% 0 0 2% ">
              <div class="row">
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row-picture" style="background-color: #EEE">
                          <img src="<%= user.facebook.picture %>" alt="icon" width="56px" height="56px" class="circle">
                      </div>
                    </div>
                    <div class="col-lg-12" style="overflow-y: scroll; height: 90%">
                      <div class="row">
                        <div class="list-group">
                          <div class="list-group-item">
                            <div class="row-picture">
                              <img src="http://lorempixel.com/56/56/people/1" alt="" class="circle">
                            </div>
                            <div class="row-content">
                              <h4 class="list-group-item-heading">Title</h4>
                              <p class="list-group-item-text">something on track</p>
                            </div>
                          </div>
                           <div class="list-group-separator"></div>
                          <div class="list-group-item">
                            <div class="row-picture">
                              <img src="http://lorempixel.com/56/56/people/1" alt="" class="circle">
                            </div>
                            <div class="row-content">
                              <h4 class="list-group-item-heading">Title</h4>
                              <p class="list-group-item-text">something on track</p>
                            </div>
                          </div>
                           <div class="list-group-separator"></div>
                          <div class="list-group-item">
                            <div class="row-picture">
                              <img src="http://lorempixel.com/56/56/people/1" alt="" class="circle">
                            </div>
                            <div class="row-content">
                              <h4 class="list-group-item-heading">Title</h4>
                              <p class="list-group-item-text">something on track</p>
                            </div>
                          </div>
                           <div class="list-group-separator"></div>
                          <div class="list-group-item">
                            <div class="row-picture">
                              <img src="http://lorempixel.com/56/56/people/1" alt="" class="circle">
                            </div>
                            <div class="row-content">
                              <h4 class="list-group-item-heading">Title</h4>
                              <p class="list-group-item-text">something on track</p>
                            </div>
                          </div>
                        </div>
                        </div>
                  </div>
                  </div>
                </div>
                <div class="col-lg-8" style="height: 90%;">
                  dsa
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>



  <style media="screen">
  .pages {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 4;
      padding: 0px;
      overflow: auto;
    }
  </style>
</html>
