<!DOCTYPE html>
<html>
	<head>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>talk freely</title>
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="styles/styles.css">

	</head>
	<body>
		<div class="layout-transparent mdl-layout mdl-js-layout">
			<header class="mdl-layout__header mdl-layout__header--transparent">
			     <div class="mdl-layout__header-row">
			     <span class="mdl-layout-title">Talk more</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">user</a>
					<a class="mdl-navigation__link" href="">superH</a>
					<a class="mdl-navigation__link" href="">superHeros</a>
					<a class="mdl-navigation__link" href="">activity</a>
				</nav>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Talk</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">user</a>
					<a class="mdl-navigation__link" href="">superH</a>
					<a class="mdl-navigation__link" href="">superHeros</a>
					<a class="mdl-navigation__link" href="">activity</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
			<div class="mdl-grid">
			   <div class="mdl-cell mdl-cell--3-col"></div>
			   <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--4dp">
			   </div> 
			</div>
			
			</main>
		</div>

	</body>

</html>
